BACKEND_URL=http://localhost:8000
FRONTEND_URL=http://localhost:5173

DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True

DB_NAME=elearning
DB_USER=elearn_user
DB_PASSWORD=strong_password
DB_HOST=localhost
DB_PORT=5432

CODE_RUNNER_URL=http://code-runner:8080

GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret

GITHUB_CLIENT_ID=your-github-client-id
GITHUB_CLIENT_SECRET=your-github-client-secret
